@model ShoppingCart
@{
    ViewBag.Title = "Sepetim";
    var rowNum = 0;
}

<h2>Sepetim</h2>

@if (Model.Items.Count > 0)
{
    <div class="p-2 text-right">
        <a class="btn btn-link text-danger" href="@Url.Action("ClearShoppingCart")"><i class="fa fa-trash"></i> Sepeti Boşalt</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Sıra No.</th>
                <th scope="col">Foto</th>
                <th scope="col">Albüm Adı</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Miktar</th>
                <th scope="col">Tutar</th>
                <th scope="col">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartitem in Model.Items)
            {
                <tr>
                    <td>
                        @(++ rowNum)
                    </td>
                    <td>
                        <img src="data:image/jpeg;base64, @Convert.ToBase64String(cartitem.CoverImage) " alt="@cartitem.Name" height="96">
                    </td>
                    <td>
                        <b>@cartitem.Name</b>
                    </td>
                    <td>
                        @cartitem.Price.ToString("c2")
                    </td>
                    <td>
                        @cartitem.Quantity.ToString("n0")
                    </td>
                    <td>
                        @cartitem.Amount.ToString("c2")
                    </td>
                    <td>
                        <a class="btn btn-link" href="@Url.Action("DecreaseCartItem", new { Id=cartitem.AlbumId })"><i class="fa fa-minus"></i></a>
                        <a class="btn btn-link" href="@Url.Action("IncreaseCartItem", new { Id=cartitem.AlbumId })"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-link text-danger" href="@Url.Action("RemoveCartItem", new { Id=cartitem.AlbumId })"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            @if (Model.Discount > 0)
            {
                <tr>
                    <td colspan="5" class="text-right">Toplam:</td>
                    <td class="table-warning">
                        @Model.Total.ToString("c2")
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right">İndirim:</td>
                    <td class="table-light">
                        @Model.Discount.ToString("c2")
                    </td>
                    <td>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5" class="text-right">Genel Toplam:</td>
                <td class="table-success">
                    @Model.GrandTotal.ToString("c2")
                </td>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p class="p-5 text-center">Sepetinizde henüz ürün bulunmamaktadır!</p>
}