@model MusicStore.Data.Album
@{
    ViewBag.Title = "Albüm Değiştirme";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(p => p.CoverImage)
    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.GenreId)
                @Html.DropDownListFor(Model => Model.GenreId, ViewBag.Genres as SelectList, "[Seçiniz]", new { @class = "custom-select" })
                @Html.ValidationMessageFor(model => model.GenreId)
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.ArtistId)
                @Html.DropDownListFor(Model => Model.ArtistId, ViewBag.Artists as SelectList, "[Seçiniz]", new { @class = "custom-select" })
                @Html.ValidationMessageFor(model => model.ArtistId)
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.PriceText)
                @Html.EditorFor(model => model.PriceText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceText)
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Year)
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                <div class="d-inline-block p-2 border shadow-sm">
                    @if (Model.CoverImage != null)
                    {
                        <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.CoverImage)" height="300" />
                    }
                    else
                    {
                        <img src="~/Content/images/no user.png" height="300" />
                    }
                </div>
                <small class="d-block p-2">(değiştirmek istiyorsanız doldurunuz)</small>
                <div class="custom-file">
                    @Html.LabelFor(model => model.PhotoFile)
                    <input type="file" class="custom-file-input" id="customFile" name="PhotoFile">
                    <label class="custom-file-label" for="customFile" data-browse="Dosya Seç">Fotoğraf Seçiniz...</label>
                </div>
            </div>
        </div>
    </div>

    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
        <i class="fa fa-times"></i> İPTAL
    </a>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> KAYDET
    </button>
}


@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

