@model IEnumerable<MusicStore.Data.Genre>
@{
    ViewBag.Title = "Tür Yönetimi";

    var grid = new WebGrid(Model, rowsPerPage: 10);

}

<h2>@ViewBag.Title</h2>

<div class="border bg-light shadow-sm p-2 form-inline">
    <a href="@Url.Action("Create")" class="btn-sm btn-primary">
        <i class="fa fa-plus"></i> YENİ
    </a>
</div>

@grid.GetHtml(tableStyle: "table table-bordered",
    columns: grid.Columns(
        grid.Column(header: "Tür Adı", columnName: "Name"),
        grid.Column(header: "İşlemler", style: "col-1", format: @<text>
            <a href="@Url.Action("Edit", new { id = item.Id })" class="mr-2 text-secondary"><i class="fa fa-pen"></i></a>
            <a href="@Url.Action("Remove", new { id = item.Id })" class="text-secondary remove-btn"><i class="fa fa-trash"></i></a>
        </text>)))


@section scripts {
    <script>

        $(() => {

            $('.remove-btn').click(function () {
                var item = $(this);
                Swal.fire({
                    icon: 'warning',
                    title: 'UYARI!',
                    text: 'Bu kayıt tamamen silinecektir. Devam etmek istiyor musunuz?',
                    showCancelButton: true,
                    cancelButtonText: '<i class="fa fa-times"></i> İPTAL',
                    confirmButtonText: '<i class="fa fa-trash"></i> SİL'
                })
                    .then((result) => {
                        if (result.isConfirmed) {
                            window.location = $(item).attr('href');
                        }
                    });


                return false;
            });
        })


    </script>
}


