@model MusicStore.Data.Artist
@{
    ViewBag.Title = "Sanatçı Ekleme";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                <div class="custom-file">
                    @Html.LabelFor(model=>model.PhotoFile)
                    <input type="file" class="custom-file-input" id="customFile" name="PhotoFile">
                    <label class="custom-file-label" for="customFile" data-browse="Dosya Seç">Fotoğraf Seçiniz...</label>
                </div>
            </div>
        </div>
    </div>

    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
        <i class="fa fa-times"></i> İPTAL
    </a>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> KAYDET
    </button>
}


@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

